@import "tailwindcss";

/* =========================
   Root / Font
   ========================= */
:root {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* =========================
   Scroll & anchors
   ========================= */
:target {
  scroll-margin-top: 7rem;
}

html {
  font-family: var(--font-sans);
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   Typography only
   ========================= */
h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: -0.02em;
}
