---
import { BadgeCheckIcon, ShieldCheck, Smartphone, Calendar } from "@lucide/astro";
---


<section class="py-20 px-6 max-w-4xl mx-auto text-center">
        <div class="inline-block p-4 bg-green-50 rounded-full mb-6">
          <BadgeCheckIcon class=" w-12 h-12 text-green-500"  />
        </div>
        <h2 class="text-3xl font-bold mb-6">Garantía de Satisfacción</h2>
        <p class="text-lg text-slate-600 mb-8 text-justify">
          No soy una agencia gigante donde eres un número más. Soy tu aliado tecnológico. Mi objetivo es que tu inversión retorne en forma de menos horas de trabajo y más ventas.
        </p>
        <div class="flex justify-center gap-8 flex-wrap">
          <div class="flex items-center gap-2">
            <ShieldCheck class="reveal text-blue-600 "data-reveal />
            <span class="font-semibold text-slate-700">Código Limpio</span>
          </div>
          <div class="flex items-center gap-2">
            <Smartphone class="reveal text-blue-600" data-reveal />
            <span class="font-semibold text-slate-700">Listo para Móviles</span>
          </div>
          <div class="flex items-center gap-2">
            <Calendar class="reveal text-blue-600" data-reveal />
            <span class="font-semibold text-slate-700">Soporte Continuo</span>
          </div>
        </div>
      </section>