---
import "@/styles/reveals.css";

const title = "Nexo Digital ";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="shortcut icon" href="favicon(1).ico" type="image/x-icon">
        <title>{title}</title>
    </head>
    <body class="min-h-screen bg-white text-slate-900 font-sans selection:bg-blue-100">
        <main>
            <slot />
        </main>
        <script src="/src/scripts/reveals.js" type="module"></script>        
    </body>
</html>
